

body {
  background-color: #fafafa;
  margin: 20px auto;
  height: 90vh;   
}

/* Main Upper Container */
.search-container {
   
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: 25vh;
    max-height: 25vh;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
.instructions {
    text-align: center;
    border-style: solid;
    max-width: 80%;
}
.instructions h1 {
    font-size: 30px;
    color: #f1f50d;
    text-align: center;
}
section.p1 {
    font-size: 15px;
    color: #f1f50d;
    text-align: center;
    
}

/* Main Lower Container */

article.container {
  margin-bottom: 1px;  
  display: flex;
  height: 75vh;
  max-height: 75vh;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  
}

/* SECTION 1 */
.filter-selections {

max-width: 20%;
width:inherit;
height: auto;
text-align: center;
border-style: solid;
justify-content: center; 
border-width: 1px; 

}
/* DROPDOWN TITLES */
.filter-selections h3 {
   
    text-align: center;
    font-size: 15px;
    justify-content: center;
    /* white-space:nowrap; */
   
}
.dropdown {
    
        width: 100%;
        height: auto;
        /* height: 10%; */
        display: block;
        background-color: cadetblue;
        /* border-radius: 2px;
        box-shadow: 0 0 2px rgb(204, 204, 204);
        transition: all .5s ease; */
        /* position: relative; */
        font-size: 14px;
        color: black;
        text-align: left;
        border-style: solid;
        border-color: black;
        border-width: 1px;
      
}
.dropdown select {
    cursor: pointer;
    /* display: inline-block; */
    max-width: inherit;
    width: 100%;
    padding: 10px
}


.remaining_breeds {
    max-width: 100%;
    width: 100%;
    height: -webkit-fill-available;
    text-align: center;
    border-style: solid;
    border-color: black;
    justify-content: center;
    font-size: 15px;
    max-height: 12%;
    border-width: 1px;
    
    
}


/* Section 2 */
.dashboard--size-list {
    max-width: 20%;
    width: 15%;
    height: auto;
    text-align: center;
    border-style: solid;
    border-color: black;
    justify-content:center;
    border-width: 1px; 

}

.lowest__height {
    width: 100%;
    height: 15%;    
    background-color: #fff;   
    font-size: 14px;
    color: #474747;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.tallest__height {
    width: 100%;
    height: 15%;    
    background-color: #fff;   
    font-size: 14px;
    color: #474747;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
   
.breed__list {
    width: 100%;
    height: 68%;
    background-color: #fff;
    font-size: 14px;
    color: #474747;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}



/* Section 3 */
.dashboard--description-image {
width:50%;
height: auto;
margin: 0%;
text-align: center;
border-style: solid;
border-color: black;
justify-content: center;
border-width: 1px;

}
.description__title {
    width: 100%;
    height: 10%;
    background-color: #fff;
    font-size: 14px;
    color: #474747;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.breed__description {
    width: 100%;
    height: 60%;
    background-color: #fff;
    font-size: 14px;
    color: #474747;
    text-align: center;
    border-style: solid;
    border-color: black;
    display: block;
    border-width: 1px;
}

.breed__img {
    width: 100%;
    height: 28%;
    background-color: #fff;
    font-size: 14px;
    color: #474747;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}


/* Section 4 */
.dashboard--weight-info {
    width:15%;
    height: auto;
    margin: 0%;
    text-align: center;
    border-style: solid;
    border-color: black;
    justify-content: center;
    border-width: 1px;
}

.lowest_weight {
    width: 100%;
    height: 15%;    
    background-color: #fff;   
    font-size: 14px;
    color: #474747;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
   
}
.highest_weight {
    width: 100%;
    height: 15%;    
    background-color: #fff;   
    font-size: 14px;
    color: #474747;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.health {
    width: 100%;
    height: 15%;    
    background-color: #fff;   
    font-size: 14px;
    color: #474747;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
   
}
.kid_friendly {
    width: 100%;
    height: 15%;    
    background-color: #fff;   
    font-size: 14px;
    color: #474747;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.section-four-bottombox {
    width: 100%;
    height: 36.2%;    
    background-color: #fff;   
    font-size: 14px;
    color: #474747;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}